<h2>Mentorship Request Update</h2>

<p>Hello {{menteeName}},</p>

<p>Thank you for your interest in having {{mentorName}} as your mentor. Unfortunately, {{mentorName}} is unable to accept new mentees at this time.</p>

{{#if responseMessage}}
  <div class='info-box'>
    <p style='margin: 0 0 5px 0;'><strong>Message from {{mentorName}}:</strong></p>
    <p style='margin: 5px 0 0 0; padding: 10px; background-color: #f5f5f5; border-left: 3px solid #3A5A40; font-style: italic;'>
      "{{responseMessage}}"
    </p>
  </div>
{{/if}}

<p>We know this may be disappointing, but don't let it discourage you! There are many wonderful mentors on Spiriment who would love to guide you in your faith journey.</p>

<p style='text-align: center;'>
  <a href='spiriment://browse-mentors' class='button'>Browse Other Mentors</a>
</p>

<p style='margin-top: 20px;'>
  <strong>Next Steps:</strong><br/>
  • Browse other mentors who match your interests and goals<br/>
  • Read reviews and testimonials from other mentees<br/>
  • Send a mentorship request to another mentor<br/>
  • Be patient - the right mentor is out there for you!
</p>

<p>Remember, the timing might not be right with this particular mentor, but God has the perfect person in mind for your spiritual growth journey.</p>

<p style='margin-top: 30px;'>
  <strong>Finding the Right Mentor:</strong><br/>
  • Look for mentors with experience in areas you want to grow<br/>
  • Consider their availability and mentoring style<br/>
  • Read what other mentees have said about them<br/>
  • Don't be afraid to reach out to multiple mentors<br/>
  • Trust that God will guide you to the right mentor
</p>

<p>Keep pursuing your faith journey with enthusiasm and openness. Your dedication to spiritual growth is commendable!</p>

<p style='margin-top: 30px;'>
  Blessings,<br/>
  <strong style='color: #3A5A40;'>The Spiriment Team</strong>
</p>
